
.portada {
	background-image: url(../imagenes/portada.jpg); 
	height: 884px;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
}

h1{
	  margin-top: 0px;
	  padding-top: 9%;
	  color: #FF1975;
	  padding-left: 10%;;
	  margin-bottom: 0px;
	  font-size: 82px;
	  text-align: center;
	  font-family: 'Chewy', cursive;
}
h4{
	  padding-left: 28%;
	  margin-top: 1%;
	  font-size: 38px;
	  color: white;
	  font-family: 'Shadows Into Light', cursive;
	  text-align: center;
}

.pantallasos {
	width: 100%;
}

.yo{
		/*height: 90%;*/
		padding: 70px 0;
		background-color: #F8FFF8;
}

h2{
		text-align: center;
	  margin: 0px;
	  padding-top: 55px;
}

.navbar-nav {
	float: right;
}

.navbar-default {
	margin-bottom: 0;
	background-color: black;
	.navbar-collapse {
		ul li a.icono {
			padding: 0;
			img {
				height: 42px;
			}
		}
	}
}