
.portada {
	  background-image: url(../imagenes/portadaterminada.jpg);
	  background-repeat: no-repeat;
	  background-size: cover;
	  height: 100%;
	  padding-top: 100px;
	}
h1{
	  margin-top: -24px;
	  margin-left: 5%;
	  color: #FF1975;
	  font-size: 87px;
	  font-family: 'Chewy', cursive;
}
h4{
	  margin-top: -1% !important;
	  padding-left: 12% !important;
	  font-size: 35px;
	  color: white;
	  font-family: 'Shadows Into Light', cursive;
	}
img.flecha {
	  margin: 29% 47%;
	  width: 6%;
	  height: 16%;

}
.pantallasos {
	  width: 88%;
	  margin-left: 38px;
	  padding-bottom: 46px;
	}

	a :hover{
		color: orange;
	}
.yo{
		background-color: white;
	}
h2{
		text-align: center;
	  margin: 0px;
	  padding-top: 55px;
	  padding-bottom: 4%;
	  color: #FF1975;
	  font-size: 41px;
	  font-family: 'Luckiest Guy', cursive;	
	}
.navbar-nav {
	float: right;
	}

.navbar-default {
	margin-bottom: 0;
	background-color: black !important;
	.navbar-collapse {
		ul li a.icono {
			padding: 0;
			img {
				height: 42px;
			}
		}
	}
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: black;
  font-size: 19px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.icono{
	margin-top: 2px;
	padding-left: 21px;
	padding-right: 6px;
}
.active{
	font-family: 'Gloria Hallelujah', cursive;
	color: red;
}
.pt-63 {
  padding-top: 42px !important;
  color: #FF1975;
  font-size: 41px;
  font-family: 'Luckiest Guy', cursive;
}
.pt-70 {
  padding-top: rem(70) !important;
  padding-top: 53px !important;
  font-size: 18px;
}
.separador{
	height: 23%;
	color: red;
}
p {
  margin: 0 0 10px;
  font-size: 18px;
}
.foto-blancoynegro{
	width: 100%;
}
.lab{
	color: orange;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 0px;
}
.logo-html{
  width: 64.8%;
  padding: 17%;
  margin-left: 17%;
}
.logo-dise{
  width: 55%;
  padding: 14%;
  margin-bottom: 8px;
  margin-left: 25%;
}
.logo-js{
  width: 65%;
  margin-left: 20%;
  padding: 15%;
}
.logo-boots{
  width: 60%;
  margin-left: 21%;
  padding: 12%;
}
.logo-ph{
  width: 59%;
  padding: 49px;
  margin-left: 20%;
}
.css{
	width: 65%;
  margin-left: 19%;
  padding: 17%;
}
.responsive{
	width: 57%;
  margin-left: 24%;
  padding: 5%;
}
.nombres-logos{
	text-align: center;
  margin: 0px;
  padding-top: 55px;
  color: black;
  text-align: center;
  font-size: 34px;
  font-family: 'Luckiest Guy', cursive;
}
.text-center{
  margin: 0px;
  padding: 6%;
  padding-top: 55px;
  color: black;
  text-align: center;
  font-size: 34px;
  font-family: 'Raleway', sans-serif;
}
.descripcion{
	font-family: 'Raleway', sans-serif;
  font-size: 17px;
  padding-bottom: 6.6px;
}
.gris{
	background-color: #D6D6D6;
}
.color-gris{
	background-color: #DBDBDB;
}
.color-fucsia{
	background-color: #FF3385;
}
.color-blanco{
	background-color: white;
}
.color-negro{
	background-color: black;
}
.foto-izquierda{
	background-image: url(../imagenes/coffee-laptop.png);
  height: 514px;
  background-repeat: no-repeat;
  background-size: cover;
}
.blanco{
	height: 15%;
	width: 100%;
	color: red;
}
.footer{
	height: 34%;
	background-color: black;
}